<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit existing perfume</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alvaromontoro/almond.css@latest/dist/almond.lite.min.css" />
</head>
<body>
	<h1>Edit perfume</h1>
	
	
	<div>
		<form id="formi" th:object="${perfume}" th:action="@{saveEditedPerfume}" action="#" method="post">
			<input type="number" id="perfumeId" th:field="*{perfumeId}" readonly/><br>
		  	<label for="perfumeName">Perfume Name</label><br>
			<input type="text" id="perfumeName" th:field="*{perfumeName}" />
			<div th:if="${#fields.hasErrors('perfumeName')}" th:errors="*{perfumeName}">Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="genderSpec">Intended for:</label><br>
			<select id="genderSpec" th:field="*{genderSpec}" class="form-control">
			<option value="U">U</option>
			<option value="M">M</option>
			<option value="F">F</option>
			</select>						
			<div th:if="${#fields.hasErrors('genderSpec')}" th:errors="*{genderSpec}">Error</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="publicationYear">Year of publication</label><br>
			<input type="number" step="1" id="publicationYear" th:field="*{publicationYear}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}">Error</div>
			
			<label for="designers">Designer</label><br>
			 <select id="designlist" th:field="*{designer}" class="form-control">
       			<option th:each="designer: ${designers}" th:value="${designer.designerId}" th:text="${designer.designerName}"></option>
    		</select>
    		<div th:if="${#fields.hasErrors('designer')}" th:errors="*{designer}">Error</div>
    		<div style="clear: both; display: block; height: 10px;"></div>
    		
			
			<h4>Currently listed perfumers:</h4>
			<p id="existingPerfumers" th:each="perfumer: ${existingPerfumers}" th:text="${perfumer.perfumerName}"></p>
			
			
			<h3>Edit perfumers, duplicate perfumers will be ignored</h3>
			
			<!-- Show dropdowns for perfumers -->
    		<label for="perfumers">Perfumer 1</label>
			 	<select id="perfumerlist1" th:field="*{perfumers}" class="form-control">
			 
       			<option value=""></option>
       			
       			<option th:each="perfumers: ${perfumers}" th:value="${perfumers.perfumerId}" th:text="${perfumers.perfumerName}"></option>
    		</select>
    		 
    		<label for="perfumers">Perfumer 2</label>
			 <select id="perfumerlist" th:field="*{perfumers}" class="form-control">
       			<option value=""></option>
       			<option th:each="perfumers: ${perfumers}" th:value="${perfumers.perfumerId}" th:text="${perfumers.perfumerName}"></option>
    		</select>
    		
    		<label for="perfumers">Perfumer 3</label>
			 <select id="perfumerlist" th:field="*{perfumers}" class="form-control">
       			<option value=""></option>
       			<option th:each="perfumers: ${perfumers}" th:value="${perfumers.perfumerId}" th:text="${perfumers.perfumerName}"></option>
    		</select>
    		
    		<label for="perfumers">Perfumer 4</label>
			 <select id="perfumerlist" th:field="*{perfumers}" class="form-control">
       			<option value=""></option>
       			<option th:each="perfumers: ${perfumers}" th:value="${perfumers.perfumerId}" th:text="${perfumers.perfumerName}"></option>
    		</select>
    		<div th:if="${#fields.hasErrors('perfumers')}" th:errors="*{perfumers}">Error</div>
    		 
			<input type="submit" value="Save"></input>
		</form>
		
	</div>
</body>
</html>