<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit designer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alvaromontoro/almond.css@latest/dist/almond.lite.min.css" />
</head>
<body>
	<h1>Edit designer name</h1>
	<div>
	<form id="formi" th:object="${designer}" th:action="@{saveEditedDesigner}" action="#" method="post">
			<input type="number" id="designerId" th:field="*{designerId}" readonly/><br>
		  	<label for="designerName">Designer Name</label><br>
			<input type="text" id="designerName" th:field="*{designerName}" />
			<div th:if="${#fields.hasErrors('designerName')}" th:errors="*{designerName}">Error</div>
			<input type="submit" value="Save"></input>
			</form>
	</div>
	<br>
	<a href="/perfumelist">View all perfumes</a>
	<a href="/designerlist">View all designers</a>
	<a href="/adddesigner">Add a new designer</a>
	