<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Perfumers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/kimeiga/bahunya/dist/bahunya.min.css">

</head>
<body>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>
	<a href="/perfumelist">View all perfumes</a>
	<a href="/designerlist">View all designers</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addperfume">Add
		Perfume</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/adddesigner">Add a
		new designer</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addperfumer">Add a
		new perfumer</a>
	<h1>Perfumers</h1>
	<table>
		<tr>
			<th>Perfumer Name</th>
		</tr>
		<tr th:each="perfumer : ${perfumers}">
			<td th:text="${perfumer.perfumerName}"></td>
			<td><a sec:authorize="hasAuthority('ADMIN')"
				th:href="@{/deleteperfumer/{id}(id=${perfumer.perfumerId})}">Delete</a></td>
			<td><a sec:authorize="hasAuthority('ADMIN')"
				th:href="@{/editperfumer/{id}(id=${perfumer.perfumerId})}">Edit</a></td>
		</tr>
	</table>

</body>
</html>